<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ByteMyHeart</title>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
    <style>
        body{
            text-align: center;
            font-family: Lexend;
            margin: 0
        }
        h1{
            color: red;
            font-size: x-large;
        }
    </style>
</head>
<body>
    <div id="content">
        <h1>Blocked</h1>
        <p>You have been blocked from this site.</p>
        <p>Please contact the administrator for more information.</p>
    </div>  
</html>
