<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ByteMyHeart</title>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
    <style>
        body{
            text-align: center;
            font-family: Lexend;
            margin: 0
        }
        h1{
            color: red;
            font-size: x-large;
        }
    </style>
</head>
<body>
    <div id="content">
        <h1>Not enough available users</h1>
        <p>Sorry to inform you that there are not enough available users to match you with. Please try again later.</p>
    </div>  
</html>
