<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ByteMyHeart</title>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
</head>
<body>
    <h1 style="color: black;text-align: center; font-family: 'Lexend'">Register a new account</h1>
    <form method="post" style="text-align: center">
        <label for="username" style="color: black; text-align: left;font-family: 'Lexend'">Username:</label><br>
        <input type="text" id="username" name="username" style="background-color: #F15A59;border-color: #F15A59;font-family: 'Lexend'"><br>
        <label for="password" style="color: black; text-align: left;font-family: 'Lexend'">Password:</label><br>
        <input type="text" id="password" password="password" style="background-color: #F15A59;border-color: #F15A59;font-family: 'Lexend'"><br><br>
        <button style="background-color: #D21312;align-content: end;font-family: 'Lexend'">Cancel</button>         <button style="background-color: #D21312;align-content: end;font-family: 'Lexend'">Register</button>
    </form>
</body>
</html>