<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ByteMyHeart</title>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
    <style>
        body{
            font-family: Lexend;
            margin: 0
        }
        .form-control{
            margin: 10px 0;
        }

        input{
            color: #F15A59;
        }

    </style>
</head>
<body style="text-align: center;">
    <h1 style="color: black;text-align: center; font-family: 'Lexend'">Profile</h1>
    <div >
    <p><b>Name:</b> {{form.name}}</p>
    <p><b>Age:</b> {{form.age}}</p>
    <p><b>Favorite programming language:</b> {{form.programming_language}}</p>
    <p><b>University specialization:</b> {{form.university_specialization}}</p>
    <p><b>Favorite course 1:</b> {{form.course_fav1}}</p>
    <p><b>Favorite course 2:</b> {{form.course_fav2}}</p>
    <p><b>Favorite course 3:</b> {{form.course_fav3}}</p>
    <p><b>Hobby 1:</b> {{form.hobby1}}</p>
    <p><b>Hobby 2:</b> {{form.hobby2}}</p>
    <p><b>Hobby 3:</b> {{form.hobby3}}</p>
    <p><b>Hobby 4:</b> {{form.hobby4}}</p>
    <p><b>Hobby 5:</b> {{form.hobby5}}</p>
    <p><b>Gender:</b> {{form.gender}}</p>
    <p><b>Interest:</b> {{form.interest}}</p>
    <p><b>Favorite algorithm:</b> {{form.favorite_algorithm}}</p>
    <p><b>Favorite data structure:</b> {{form.favorite_data_structure}}</p>
    <p><b>Short description:</b> {{form.short_description}}</p>
    </div>
    <button style="background-color: #D21312;align-content: end;font-family: 'Lexend'; color: white; border-radius: 10px; border-color: #D21312;" type="button" onclick="location.href='/profile/edit'">Edit</button>
</body>
</html>